.goodtables-vue-report .table-heading {
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.goodtables-vue-report .table-heading span {
  display: table;
  width: 100%;
}

.goodtables-vue-report .table-heading span :last-child {
  text-align: right;
}

.goodtables-vue-report .table-heading .table-count,
.goodtables-vue-report .table-heading .table-name {
  display: table-cell;
  color: #2f3135;
  text-decoration: none;
  height: 64px;
  vertical-align: middle;
}

.goodtables-vue-report .table-heading .table-count:hover,
.goodtables-vue-report .table-heading .table-name:hover {
  color: inherit;
}

.goodtables-vue-report .table-heading .table-name {
  font-weight: 600;
  font-size: 15px;
}

.goodtables-vue-report .panel + .table-heading {
  margin-top: 30px;
  border-top: solid 1px rgba(47, 49, 53, 0.3);
}
